# /
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h.in
/config.h.in~
/config.log
/configure
/libtool
/config.h
/doxygen.cfg
/Makefile
/config.status
/diag_stamp_*
/stamp-h1
/_configs.sed
/.fshell2_history
/cbmc
/astl
/a.out.dSYM

# /config/
/config/config.guess
/config/config.sub
/config/depcomp
/config/install-sh
/config/ltmain.sh
/config/missing
/config/ylwrap

# /doc/
/doc/Makefile.in
/doc/Makefile

# /fshell2/
/fshell2/.deps
/fshell2/.libs
/fshell2/Makefile
/fshell2/Makefile.in
/fshell2/diag_stamp_*
/fshell2/*.o
/fshell2/*.lo

# /fshell2/command/
/fshell2/command/.deps
/fshell2/command/.libs
/fshell2/command/Makefile
/fshell2/command/Makefile.in
/fshell2/command/diag_stamp_*
/fshell2/command/*.o
/fshell2/command/*.lo
/fshell2/command/parser.cc
/fshell2/command/parser.h
/fshell2/command/libcommand.la
/fshell2/command/lexer.cc
/fshell2/command/command_processing

# /fshell2/config/
/fshell2/config/.deps
/fshell2/config/.libs
/fshell2/config/Makefile
/fshell2/config/Makefile.in
/fshell2/config/diag_stamp_*
/fshell2/config/*.o
/fshell2/config/*.lo
/fshell2/config/features.hpp

# /fshell2/exception/
/fshell2/exception/.deps
/fshell2/exception/.libs
/fshell2/exception/Makefile
/fshell2/exception/Makefile.in
/fshell2/exception/diag_stamp_*
/fshell2/exception/*.o
/fshell2/exception/*.lo
/fshell2/exception/libexception.la

# /fshell2/fql/
/fshell2/fql/.deps
/fshell2/fql/.libs
/fshell2/fql/Makefile
/fshell2/fql/Makefile.in
/fshell2/fql/diag_stamp_*
/fshell2/fql/*.o
/fshell2/fql/*.lo

# /fshell2/fql/ast/
/fshell2/fql/ast/.deps
/fshell2/fql/ast/.libs
/fshell2/fql/ast/Makefile
/fshell2/fql/ast/Makefile.in
/fshell2/fql/ast/diag_stamp_*
/fshell2/fql/ast/*.o
/fshell2/fql/ast/*.lo
/fshell2/fql/ast/libast.la
/fshell2/fql/ast/fql_ast_printer
/fshell2/fql/ast/fql_node_lt_visitor

# /fshell2/fql/concepts/
/fshell2/fql/concepts/.deps
/fshell2/fql/concepts/.libs
/fshell2/fql/concepts/Makefile
/fshell2/fql/concepts/Makefile.in
/fshell2/fql/concepts/diag_stamp_*
/fshell2/fql/concepts/*.o
/fshell2/fql/concepts/*.lo
/fshell2/fql/concepts/libconcepts.la
/fshell2/fql/concepts/cfa
/fshell2/fql/concepts/trace_automaton

# /fshell2/fql/evaluation/
/fshell2/fql/evaluation/.deps
/fshell2/fql/evaluation/.libs
/fshell2/fql/evaluation/Makefile
/fshell2/fql/evaluation/Makefile.in
/fshell2/fql/evaluation/diag_stamp_*
/fshell2/fql/evaluation/*.o
/fshell2/fql/evaluation/*.lo
/fshell2/fql/evaluation/libevaluation.la
/fshell2/fql/evaluation/evaluate_filter
/fshell2/fql/evaluation/evaluate_coverage_pattern
/fshell2/fql/evaluation/evaluate_path_pattern
/fshell2/fql/evaluation/predicate_instrumentation
/fshell2/fql/evaluation/compute_test_goals
/fshell2/fql/evaluation/automaton_inserter

# /fshell2/fql/normalize/
/fshell2/fql/normalize/.deps
/fshell2/fql/normalize/.libs
/fshell2/fql/normalize/Makefile
/fshell2/fql/normalize/Makefile.in
/fshell2/fql/normalize/diag_stamp_*
/fshell2/fql/normalize/*.o
/fshell2/fql/normalize/*.lo
/fshell2/fql/normalize/libnormalize.la
/fshell2/fql/normalize/normalization_visitor

# /fshell2/fql/parser/
/fshell2/fql/parser/.deps
/fshell2/fql/parser/.libs
/fshell2/fql/parser/Makefile
/fshell2/fql/parser/Makefile.in
/fshell2/fql/parser/diag_stamp_*
/fshell2/fql/parser/*.o
/fshell2/fql/parser/*.lo
/fshell2/fql/parser/parser.cc
/fshell2/fql/parser/parser.h
/fshell2/fql/parser/lexer.cc
/fshell2/fql/parser/libparser.la
/fshell2/fql/parser/grammar.hpp
/fshell2/fql/parser/query_parser
/fshell2/fql/parser/lexer.txt
/fshell2/fql/parser/grammar.txt

# /fshell2/instrumentation/
/fshell2/instrumentation/.deps
/fshell2/instrumentation/.libs
/fshell2/instrumentation/Makefile
/fshell2/instrumentation/Makefile.in
/fshell2/instrumentation/diag_stamp_*
/fshell2/instrumentation/*.o
/fshell2/instrumentation/*.lo
/fshell2/instrumentation/libinstrumentation.la
/fshell2/instrumentation/goto_transformation
/fshell2/instrumentation/goto_transformation.loT
/fshell2/instrumentation/goto_lt_compare

# /fshell2/macro/
/fshell2/macro/.deps
/fshell2/macro/.libs
/fshell2/macro/Makefile
/fshell2/macro/Makefile.in
/fshell2/macro/diag_stamp_*
/fshell2/macro/*.o
/fshell2/macro/*.lo
/fshell2/macro/libmacro.la
/fshell2/macro/macro_processing

# /fshell2/main/
/fshell2/main/.deps
/fshell2/main/.libs
/fshell2/main/Makefile
/fshell2/main/Makefile.in
/fshell2/main/diag_stamp_*
/fshell2/main/*.o
/fshell2/main/*.lo
/fshell2/main/libmain.la
/fshell2/main/fshell2
/fshell2/main/fshell

# /fshell2/tc_generation/
/fshell2/tc_generation/.deps
/fshell2/tc_generation/.libs
/fshell2/tc_generation/Makefile
/fshell2/tc_generation/Makefile.in
/fshell2/tc_generation/diag_stamp_*
/fshell2/tc_generation/*.o
/fshell2/tc_generation/*.lo
/fshell2/tc_generation/libtc_generation.la
/fshell2/tc_generation/constraint_strengthening
/fshell2/tc_generation/test_suite_minimization
/fshell2/tc_generation/test_suite_output

# /fshell2/util/
/fshell2/util/.deps
/fshell2/util/.libs
/fshell2/util/Makefile
/fshell2/util/Makefile.in
/fshell2/util/diag_stamp_*
/fshell2/util/*.o
/fshell2/util/*.lo
/fshell2/util/libutil.la
/fshell2/util/statistics

# /m4/
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

# /minisat-2.2.0/core/
/minisat-2.2.0/core/*.o

# /minisat-2.2.0/simp/
/minisat-2.2.0/simp/*.o
/minisat-2.2.0/simp/depend.mk
/minisat-2.2.0/simp/minisat

# /minisat-2.2.0/utils/
/minisat-2.2.0/utils/*.o

# /test/
/test/Makefile.in
/test/Makefile
/test/result.log
/test/diagnostic.log
